node_modules/
dist/
.turbo/
.idea
.testsocket
.testws
apps/*/dist/
apps/*/.turbo/
packages/*/.turbo/
packages/*/dist/
data/
*.db*
*.local
.env
.opencode
.e2e
.dbg
test/
runtest.cjs
apps/web/src/test/
apps/web/src/components/__tests__/
apps/web/src/pages/__tests__/
**/*.test.*
scripts
data